.menu {
  width: 1440px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.feContents {
  width: 70vw;
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

#FE {
  padding-left: 0px;
}

/* MENU ITEM STYLING */

.feItem {
  border-radius: 15px;
  width: 350px;
  height: 380px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}
.feItem:hover {
  box-shadow:  #AC67F0;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.feItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.feItem h3,
.feItem p,
.feItem h4 {
  margin-left: 20px;
}

@media only screen and (max-width: 1300px) {
  .menuList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .menuList {
    grid-template-columns: 1fr;
  }
}
.featuredEvents,
.upcomingEvents {
  padding-left: 120px;
  padding-bottom: 50px;
}
.ueContents {
  width: 70vw;
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

#FE,
#UE {
  padding-left: 130px;
  padding-top: 70px;
  padding-bottom: 20px;
}

/* MENU ITEM STYLING */

.ueItem {
  border-radius: 15px;
  width: 350px;
  height: 380px;
  margin: 20px;
  box-shadow: 0px 19px 48px 0px rgba(29, 159, 165, 0.10);
  margin-left: 10px;
}
.ueItem:hover {
  box-shadow:  #AC67F0;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.ueItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ueItem h3,
.ueItem p,
.ueItem h4 {
  margin-left: 20px;
}

@media only screen and (max-width: 1300px) {
  .menuList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .menuList {
    grid-template-columns: 1fr;
  }
}

.Lm {
  border-radius: 50px;
  border: 1.5px solid #ac67f0;
  width: 182px;
  height: 60px;
  box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
  justify-content: center;
  margin-left: 629px;
  margin-top: 100px;
}

.MYOE {
  width: 1440px;
background: #EECCE5;
margin-top: 100px;
display: flex;
align-items: center;
}
.MYOE div {
  flex-basis: 25%;
}
.MYOE p {
  color: #272727;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.MYOE img {
  width:500px;
  margin-left: 100px;
  margin-right: 60px;
 
}

.MYOE button {
  width: 302px;
height: 40px;
border-radius: 50px;
background: #B102AC;
box-shadow: 0px 10px 50px 0px rgba(209, 209, 209, 0.25);
color: white;
}

#FE {
  margin-top: 100px;
}
